.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-item {
  &:hover {
    cursor: pointer;
  }
}

button {
  width: 40px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}