.btn-group {
  min-width: 39%;
}

.filter-btn {
  margin-right: 0;
  background: white;
  color: gray;

  &:hover {
    background: dodgerblue;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background: dodgerblue;
  border: dodgerblue;
}

.done {
  text-decoration: line-through;
}

.important {
  font-weight: 700;
  color: steelblue;
}